<div class="pragmatic_header">
    <div>
        <h1 class="pragmatic_logo">Pragmatic</h1>
    </div>
    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>login</span>
            </a>

            <a href="{% url 'accountapp:create' %}">
                <span>sign up</span>
            </a>
        {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>mypage</span>
            </a>

            <a href="{% url 'accountapp:logout' %}">
                <span>logout</span>
            </a>
        {% endif %}
    </div>
</div>