{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    
    .container div {
        width: 250px;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .container img{
        width:100%;
        border-radius: 1rem;
    }

</style>


<div class="container">
    <div class="item1">
        <img src="https://picsum.photos/200/300" alt="article">
    </div>
    <div class="item2">
        <img src="https://picsum.photos/200/340" alt="article">
    </div>
    <div class="item4">
        <img src="https://picsum.photos/200/260" alt="article">
    </div>
    <div class="item3">
        <img src="https://picsum.photos/200/510" alt="article">
    </div>
    <div class="item5">
        <img src="https://picsum.photos/200/200" alt="article">
    </div>
    <div class="item6">
        <img src="https://picsum.photos/200/200" alt="article">
    </div>
    <div class="item7">
        <img src="https://picsum.photos/200/250" alt="article">
    </div>
    <div class="item8">
        <img src="https://picsum.photos/200/400" alt="article">
    </div>
    <div class="item9">
        <img src="https://picsum.photos/200/380" alt="article">
    </div>
    <div class="item10">
        <img src="https://picsum.photos/200/410" alt="article">
    </div>
    <div class="item11">
        <img src="https://picsum.photos/200/360" alt="article">
    </div>
    <div class="item12">
        <img src="https://picsum.photos/200/180" alt="article">
    </div>
    <div class="item13">
        <img src="https://picsum.photos/200/200" alt="article">
    </div>
</div>

<div style="text-align:center">
    <a href="{% url 'articleapp:create' %}" class ="btn btn-dark rounded-pill col-3 mt-3 mb-3">
        Create Article
    </a>
</div>

<script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}