{% extends 'base.html' %}

{% block contents %}

<!-- load bootstrap -->
{% load bootstrap4 %}

    <div style="text-align: center; max-width: 500px; margin: 2rem auto;">
        <div>
            <h1> Update Account </h1>
        </div>

        <div style="margin-top:2rem;">
            <form action="{% url 'accountapp:update' pk=target_user.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                <input type="submit" value="UPDATE" class="btn btn-warning rounded-pill col-12 mt-4">
            </form>
        </div>
    </div>

{% endblock %}