<style>
    .nav > li > h5 > a{
        text-decoration: underline;
        text-underline-position: under;
    }
</style>

<header style="text-align: center; padding-top:1.5rem; padding-bottom: 0.5rem;">

    <h1 class="title_logo" style="font-family:var(--font-bold);">
        <a href="http://port-8000.django-eogns0321.codeanyapp.com/"> <!-- THIS IS HARDCODING -->
            My ToyProject
        </a>
    </h1>

    <ul class="nav" style="justify-content: center; margin-top:1rem;">
        <li><h5><a href="{% url 'todoapp:home' %}">TODO</a></h5></li>
    </ul> 

</header>