{% extends 'base.html' %}



{% block contents %}

{% load home %} <!-- template tags file load-->
{% load static %}<!-- load static folder -->

<!-- link todoapp/home.css file -->
<link rel="stylesheet" href="{% static 'css/todoapp/home.css' %}">


<!-- start contents -->
<div style="text-align: center; width:100%; height:100%;">

    <h1 class="title" style="margin-top: 2rem; font-size: 3rem;">
        TODOAPP
    </h1>


    <div style="width:50%; margin:4rem auto" class="content">

        <form action="{% url 'todoapp:home' %}" method="post" style="width:100%;">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="todo_field" autofocus="true" placeholder="Write item to do" class="form-control"
                    style="padding:1rem 1rem; font-size:1.5rem; border-bottom-left-radius: 0; ">
                <input type="submit" value="OK" class="btn btn-secondary" style="padding:1rem 0.5rem; font-size:1.5rem; width:15%; border-bottom-right-radius: 0;">
            </div>

        </form>

        <div>
            {% if todoList %}
            <ul class="list-group" style="border-radius: 0;">
                {% for item in todoList %}

                    {% if item.complete %} <!-- complete 된 상태 -->
                    <li class="list-group-item completed">
                        <button class="completed_btn btn">
                            <i style="font-size: 2rem;" class="far fa-check-circle"></i>
                        </button>
                        <h4 style="margin-left:1rem;">{{ item.name }}</h4>
                    </li>
                    {% else %} <!-- complete 안 된 상태-->
                    <li class="list-group-item actived">
                        <button class="completed_btn btn">
                            <i style="font-size: 2rem;" class="far fa-circle"></i>
                        </button>
                        <h4 style="margin-left:1rem;">{{ item.name }}</h4>
                    </li>
                    {% endif %}
                
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div style="display: flex; justify-content: space-between; align-items: center; background: white; padding: 1rem 1rem !important;" class="rounded-bottom list-group-item">
            <h4> 
                <span class="left_item">{% get_leftItem %}</span> item to do 
            </h4>

            <div>
                <button class="btn all_btn btn-primary">ALL</button>
                <button class="btn active_btn">Active</button>
                <button class="btn complete_btn">Completed</button>
            </div>

            <button class="btn clear_btn">Clear completed</button>
        </div>
    </div>

</div>
<!-- end contents -->

<script>
    //ajax header csrf token setup.
    $.ajaxSetup({
        headers : {'X-CSRFToken' : '{{ csrf_token }}'}
    });
</script>


<script>
    url = "{% url 'todoapp:home' %}";
</script>

<!-- Link home.js -->
<script src="{% static 'js/todoapp/home.js' %}"></script>

{% endblock %}