{% extends 'base.html' %}

{% block contents %}

<!-- LOAD BOOTSTRAP -->
{% load bootstrap4 %}

    <div style="text-align: center; max-width: 500px; margin:4rem auto;">
        <h1 style="margin-bottom: 2rem;">
            Profile Create
        </h1>

        <div>
            <form action="{% url'profileapp:create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary rounded-pill mt-3 col-12">
            </form>
        </div>

    </div>




{% endblock %}