*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

button,button:focus{
    cursor:pointer;
}

button{
    border:none;
    background: transparent;
    outline:none;
}

#clickBtn{
    border: 2px solid black;
    padding: 8px 16px;
    border-radius:5px;
    text-align:center;
    font-weight:bold;
    font-size:16px;
}