<div style="text-align: center;">

    <div class="logo_coin" style="margin-top:2rem;">
        <h1>
            <a style="text-decoration: none; color: black;" href="{% url 'coinapp:home' %}">COIN</a>
        </h1>
    </div>

    <div>
        <a href="{% url 'coinapp:home' %}">home</a>
        <a href="{% url 'coinapp:favorite' %}">favorite</a>

        {% if request.user.is_authenticated %} 
        <!-- LOGIN -->
            <a href="{% url 'accountapp:detail' pk=request.user.pk %}">MyPage</a>

            <a href="{% url 'accountapp:logout' %}">logout</a>

        {% else %} 
        <!-- NOT LOGIN -->
            <a href="{% url 'accountapp:login' %}">login</a>

            <a href="{% url 'accountapp:create' %}">create</a>

        {% endif %}
    </div>

    <div style="position: absolute; top: 1rem; right: 1.5rem;">
        {% if request.user.is_authenticated %}
        <h5>{{ request.user.username }}</h5>
        {% endif %}
    </div>
</div>