<div style="text-align: center;">

    <div class="logo_coin" style="margin-top:2rem;">
        <h1>COIN</h1>
    </div>

    <div>
        <a href="">nav1</a>
        <a href="">nav2</a>
        <a href="">nav3</a>

        {% if request.user.is_authenticated %} 
        <!-- LOGIN -->
            <a href="{% url 'accountapp:logout'}">logout</a>

            <a href="{% url 'accountapp:detail' pk=request.user.pk %}">MyPage</a>

        {% else %} 
        <!-- NOT LOGIN -->
            <a href="{% url 'accountapp:login' %}">login</a>

            <a href="{% url 'accountapp:create' %}">create</a>

        {% endif %}
    </div>
</div>