{% extends 'base.html' %}

{% block contents %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.3.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.3.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.3.min.js"
            crossorigin="anonymous"></script>

    <div style="text-align: center;">
        <h1>{{ currency }}</h1>

        <!-- FAVORITE FUNCTION BTNS -->
        <button class="deleteFavorite_btn btn btn-secondary rounded-pill mt-3" style="display: none;">DELETE FAVORITE</button>
        <button class="addFavorite_btn btn btn-primary rounded-pill mt-3" style="display: none;">ADD FAVORITE</button>

        <div style="width: 80%; margin:auto auto">
            <ul class="nav nav-pills" style="justify-content: flex-end;">
                <li class="nav-item">
                    <a class="nav-link TBtn" href="?currency={{ currency }}&period=T">분</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link DBtn" href="?currency={{ currency }}&period=D">일</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link 3DBtn" href="?currency={{ currency }}&period=3D">3일</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link WBtn" href="?currency={{ currency }}&period=W">주</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link MBtn" href="?currency={{ currency }}&period=M">월</a>
                </li>
            </ul>
        </div>
        <div style="width:80%; margin:4rem auto;">
            {{ plot1_div | safe }}  
            {{ plot1_script | safe }}  
        </div>

    </div>

    <script>
        $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        $(document).ready(function(){
            is_favorite = '{{ favorite }}';

            btnName = "{{ period }}" + "Btn";
            $("." + btnName).addClass("active");

            addFavoriteBtn = $(".addFavorite_btn");
            deleteFavoriteBtn = $(".deleteFavorite_btn");

            //SETTING WHICH BTN IS DISPLAY
            if(is_favorite){
                deleteFavoriteBtn.show();
            }
            else{
                addFavoriteBtn.show();
            }

            //SETTING BTN CLICK EVENT

            addFavoriteBtn.click(function(){
                $.ajax(
                    {
                        type:"POST",
                        url: 'http://port-8000.django-eogns0321.codeanyapp.com/coins/favorite/',
                        data: {'add' : "{{ currency }}"},
                        success: function(data){
                            alert("데이터전송 성공");
                        },
                        error:function(request,status,error){
                            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                        }
                    }
                )


                //BTN DISPLAY SETTING
                addFavoriteBtn.toggle();
                deleteFavoriteBtn.toggle();
                
            });

            deleteFavoriteBtn.click(function(){
                $.ajax(
                    {
                        type:"POST",
                        url: 'http://port-8000.django-eogns0321.codeanyapp.com/coins/favorite/',
                        data: {'delete' : "{{ currency }}"},
                        success: function(data){
                            alert("데이터전송 성공");
                        },
                        error:function(request,status,error){
                            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                        }
                    }
                )

                //BTN DISPLAY SETTING
                deleteFavoriteBtn.toggle();
                addFavoriteBtn.toggle();
                
            });
        });

    </script>

{% endblock %}