{% extends 'base.html' %}




{% block contents %}

    <style>

    .favorite_btn{
        background-color: transparent;
        border: none;
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    </style>

    <div style="text-align: center;">

        <div style="width:80%; margin:4rem auto 2rem; ">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th style="width:30%">이름</th>
                        <th>현재가</th>
                        <th>전일대비</th>
                        <th>거래대금</th>
                    </tr>
                </thead>

                <tbody>
                    {% for currency, info in post.object_list %}
                        <tr onclick="changePage('/coins/detail/?currency={{ currency }}')">
                            <td style="position: relative;" class="item">
                                <button class="favorite_btn">
                                    <i class="far fa-star"></i>
                                </button>
                                {{ currency }}
                            </td>
                            <td>{{ info.closing_price }}</td>
                            <td>{{ info.fluctate_rate_24H }}</td>
                            <td>{{ info.acc_trade_value }}</td>
                        </tr>
                        

                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 페이지 번호 -->
        <nav aria-label="Page navigation example">
            <ul style="justify-content: center;" class="pagination">

                {% if post.has_previous %}
                <!-- 이전 페이지 존재 O -->
                <li class="page-item"><a class="page-link" href="?page={{ post.previous_page_number }}">Previous</a></li>
                {% else %}
                <!-- 이전 페이지 존재 X -->
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}


                <!-- 현 페이지 표시 -->

                <li class="page-item">
                    <a class="page-link" href="#">
                        {{ post.number }} / {{ post.paginator.num_pages }}
                    </a>
                </li>



                {% if post.has_next %}
                <!-- 다음 페이지 존재 O -->
                <li class="page-item"><a class="page-link" href="?page={{ post.next_page_number }}">Next</a></li>
                {% else %}
                <!-- 다음 페이지 존재 X -->
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
                

            </ul>
        </nav>

    </div>

    <script>
        $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        function changePage(str){
            location.href = str;
        }

        function setFavoriteBtn(){
            /* favorite  설정 */
            var favoriteItem = $(".item");

            jsonData = '{{ favorite | safe }}'
            if(jsonData == 'None' ){ return; }

            var favoriteInfo = JSON.parse(jsonData);

            for(let i = 0; i < favoriteItem.length; i++){
                item = $(favoriteItem[i]);
                target = $.trim(item.text());
                
                for(let key in favoriteInfo){
                    if(target == favoriteInfo[key]){
                        item.addClass("favorite");
                        child = item.children().children();
                        child.addClass("fas").removeClass("far")
                        break;
                    }
                }
            }
        }



        $(document).ready(function(){

            //SETTING FAVORITE BTN STATUS
            //if it's favorite item, favorite btn's img full star
            //otherwise it's empty star
            setFavoriteBtn();
            
            //SETTING FAVORITE BTN CLICK FUNCTION
            $(".favorite_btn").click(function(e){

                //STOP ROW EVENT
                e.stopPropagation();

                //CLICK EVENT
                is_favorite = $($(this).closest(".item")).is(".favorite");

                //FAVORITE 아닌 상태
                if(!is_favorite){
                    $(this).children().addClass("fas").removeClass("far");
                    let target = $.trim($(this).closest(".item").text());
                    $.ajax(
                        {
                            type:"POST",
                            url: 'http://port-8000.django-eogns0321.codeanyapp.com/coins/favorite/',
                            data: {'add' : target},
                            success: function(data){
                                alert("ADD ITEM!");
                            },
                            error: function(error){
                                alert("에러");
                            }
                        }
                    );

                    $(this).closest(".item").addClass("favorite");
                }
                else{
                    //FAVORITE인 상태
                    
                    //convert favorite_btn img to empty star
                    $(this).children().addClass("far").removeClass("fas");

                    //user favorite에서 해당 항목 없애기.

                    $(this).closest(".item").removeClass("favorite");

                    let target = $.trim($(this).closest(".item").text());
                    $.ajax({
                        type:"POST",
                        url : 'http://port-8000.django-eogns0321.codeanyapp.com/coins/favorite/',
                        data : {'delete' : target },
                        success: function(data){
                            alert("DELETE ITEM!!");
                        },
                        error: function(error){
                            alert("에러!");
                        }
                    });

                }
            });

        });
        

        

    </script>

   

{% endblock %}