{% extends 'base.html' %}




{% block contents %}

    <div style="text-align: center;">

        <!-- 페이지 번호 -->
        <nav aria-label="Page navigation example">
            <ul style="justify-content: center;" class="pagination">
                {% if post.has_previous %}
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </div>

   

{% endblock %}