<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DETAIL VIEW</h1>

    <h1>{{ object.title }}</h1>
    <h1>{{ object.author }}</h1>
    <h1>{{ object.price }}</h1>
    <h1>{{ object.published_date }}</h1>
    <br>
    <h1>{{ target_book.title }}</h1>
    <h1>{{ target_book.author }}</h1>
    <h1>{{ target_book.price }}</h1>
    <h1>{{ target_book.published_date }}</h1>
</body>
</html>