<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>

    <!-- BOOTSTRAP LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    {% load bootstrap4 %}
    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
        <h1>LOGIN</h1>

        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}

            <input type="submit" value="SUBMIT" class="btn btn-primary rounded-pill col-6 mt-3">
        </form>

    </div>
</body>
</html>